#jjals {
	position: fixed;
	z-index: 9998;
	top: 5%;
	left: 5%;
	background-color: white;
	width: 90%;
	height: 90%;
	overflow: scroll;
	display: none;
}

.jjal {
	height:200px;
	max-width: 400px;
	width:auto;
	margin: 3px;
	cursor: pointer;
}

.blockedOK {
	color: red;
	text-decoration: line-through;
}

#xbutton {
	position: fixed;
	left: 0;
	top: 0;
	cursor: pointer;
}

#bestReplyDiv {
	margin-bottom: 20px;
	border: 5px solid red;
}